<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-danger">Add Contact</p>
            <p class="fst-italic">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate expedita saepe architecto fugit qui quod distinctio nemo, inventore, obcaecati at harum, doloribus soluta tempore magni quisquam dicta necessitatibus. Ut, optio.</p>

        </div>
    </div>
</div>


<!--Loading spinner-->
<div *ngIf="loading">
    <app-spinner></app-spinner>
</div>

<!--Error Message-->
<div *ngIf="!loading && errorMessage">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="h4 text-danger fw-bold">{{errorMessage}}</p>
            </div>
        </div>
    </div>
</div>



<!--Create Contact Form -->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form (submit)="createSubmit()">
                <div class="mb-2">
                    <input required="true" type="text" name="name" [(ngModel)]="contact.name" class="form-control" placeholder="Name">
                </div>
                <div class="mb-2">
                    <input required="true" type="text" name="photo" [(ngModel)]="contact.photo" class="form-control" placeholder="Photo URL">
                </div>
                <div class="mb-2">
                    <input required="true" type="email" name="email" [(ngModel)]="contact.email" class="form-control" placeholder="Email">
                </div>
                <div class="mb-2">
                    <input required="true" type="number" name="mobile" [(ngModel)]="contact.mobile" class="form-control" placeholder="Mobile">
                </div>
                <div class="mb-2">
                    <input required="true" type="text" name="company" [(ngModel)]="contact.company" class="form-control" placeholder="Company">
                </div>
                <div class="mb-2">
                    <input required="true" type="text" name="title" [(ngModel)]="contact.title" class="form-control" placeholder="Title">
                </div>
                <div class="mb-2">
                    <select required="true" class="form-control" *ngIf="groups.length > 0" name="groupId" [(ngModel)]="contact.groupId">
                        <option value="">Select a Group</option>
                        <option [value]="group.id" *ngFor="let group of groups">{{group.name}}</option>
                   </select>
                </div>
                <div class="mb-2">
                    <input type="submit" class="btn btn-danger" value="Create">
                    <a class="btn btn-dark ms-2" routerLink="/">Close</a>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <img class="contact-img" [src]="contact.photo">
        </div>
    </div>
</div>